@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
html,
body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #09090b;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.lista-produtos::-webkit-scrollbar {
  width: 8px;
}

.lista-produtos::-webkit-scrollbar-track {
  background: #1a1924;
}

.lista-produtos::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

.lista-produtos::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
