@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  font-size: 62.5%;
  background: #0f0d13;
}
.estilos p {
  font-size: 1.8rem;
}
.estilos {
  color: white;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  flex-direction: column;
}

.estilos button {
  padding: 1.5rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  background-color: #2a2141;
  border: none;
  color: white;
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
}
.container {
  background: #0f0d13;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-vertical,
.layout-horizontal {
  gap: 2.9rem;
  border-radius: 1rem;
  padding: 4rem;
  color: #e1e1e6;
  background-color: #2a2141;
  display: flex;
  flex-direction: column;
}
.layout-vertical .desc-musica {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 2.9rem 0;
}
.conteudo-musica .desc-musica p {
  font-size: 2.4rem;
  font-weight: bold;
}
.conteudo-musica .desc-musica span {
  font-size: 1.8rem;
  opacity: 68%;
}
.hide {
  display: none;
}
.controles {
  display: flex;
  justify-content: space-between;
}
.controles button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.barra-progresso {
  width: 100%;
  height: 0.8rem;
  background: #d9d9d9;
  border-radius: 1rem;
}
.tempo-musica {
  display: flex;
  justify-content: space-between;
  color: #c4c4cc;
  font-size: 1.5rem;
  opacity: 70%;
  margin-top: 1rem;
}

.layout-horizontal .conteudo-musica {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.layout-horizontal .conteudo-musica img {
  width: 4.8rem;
  height: 4.8rem;
}
